<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - <%= restaurant.name %></title>
</head>

<body>
    <%- include('./partials/nav') %>
    <header>
      <h1>Welcome to <%= restaurant.name %></h1>
    </header>
  
    <section>
      <p>Address: <%= restaurant.address %></p>
      <p>Phone: <%= restaurant.phone %></p>
      <% if (restaurant.isOpen) { %>
        <p>Yes, we are open!</p>
      <% } else { %>
        <p>Sorry, we are closed.</p>
      <% } %>
    </section>
  </body>  